/* Colors */

/* CSS HEX 
caramel: #be7c4dff;
penn-red: #92140cff;
jet: #353238ff;
jasper: #be5a38ff;
silver: #c1b4aeff;
*/

/* Styles for Mobile Site */

/* Header & Hero */

/* Projects */

/* Reviews */

/* Footer */


/* Media state for Desktop site */
* {
    color: whitesmoke;
    background-color: #353238ff;
  }

    /* Header & Hero */
    h1 {
        font-family: helvetica;
        font-size: 4em;
        color: whitesmoke;
        margin-top: 0.75em;
        text-align: center;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
    }
    
    .text-block {
        font-family: arial;
        font-size: 1.75em;
        margin-right: 1.5em;
    }

    #hero img {
        margin-right: 5em;
        max-width: 25em;
        height: auto;
    }

/* Main */
main {
    font-family: georgia;
}

    /* Projects */

#projects {
        clear: both;
        margin-bottom: 0%;
}

#projects img {
        max-width: 20em;
}

    /* Reviews */
.review {
border: solid #be5a38;

}
    /* Footer */

