/* Colors */

/* CSS HEX 
caramel: #be7c4dff;
penn-red: #92140cff;
jet: #353238ff;
jasper: #be5a38ff;
silver: #c1b4aeff;
*/

/* Styles for Mobile Site */

/* Header & Hero */

/* Projects */

/* Reviews */

/* Footer */


/* Media state for Desktop site */
* {
    color: whitesmoke;
    background-color: #353238ff;
  }

  /* Video */
#videocontainercontainer {
    max-width: 100%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#videocontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
}
#myvideo {
position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

    /* Header & Hero */
    h1 {
        font-family: helvetica;
        font-size: 4em;
        color: whitesmoke;
        margin-top: 0.75em;
        text-align: center;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        padding-top: 5.5em;
    }
    
    .text-block {
        font-family: arial;
        font-size: 1.75em;
        margin-right: 1.5em;
    }

    #hero img {
        margin-right: 5em;
        max-width: 25em;
        height: auto;
        border-radius: 1.75em;
    }

/* Main */
main {
    font-family: georgia;
}

    /* Projects */

#projects {
        clear: both;
        margin-bottom: 0%;
}

#projects img {
        max-width: 20em;
}

    /* Reviews */
.review {
border: 0.25em solid #be7c4d;
border-radius: 1em;
text-align: center;
background-color: #c1b4aeff;
}
.review p {
color: black;
background-color: #c1b4aeff;
font-family: "trebuchet ms";
}

    /* Footer */

